<div id=''class='col-md-12'style=';padding:0;height:3.8vh;
								 color:white;position:relative;top:2.5%;'>
	<div id='nutToSec'class='col-md-2'style='padding:0;;height:100%;text-align:center;'>
			<div id=''class='col-md-2'style='padding:1%;;height:100%'>
			
			
			
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note0}}'>
				{{notes[note0]}}

			</span>
			<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note0}}'>{{notes[note0]}}</span>

			

			</div>
			<div id=''class='col-md-2 col-md-offset-1'style='padding:1%;;height:100%;'>
			
			
			
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note1}}'>
				{{notes[note1]}}

			</span>
			<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note1}}'>{{notes[note1]}}</span>


			</div>
			<div id=''class='col-md-2 col-md-offset-4'style='padding:1%;;height:100%;'>
			
			
			
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note2}}'>
				{{notes[note2]}}

			</span>
			<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note2}}'>{{notes[note2]}}</span>

			</div>



	</div>
	<div id='thirdToFifteen'class='col-md-7'style=';height:100%;'>
			<div id=''class='col-md-9'style='height:100%;;'>
				<div id=''class='col-md-3'style='height:100%;;'>
					<div id=''class='col-md-6'style='height:100%;;'>
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note3}}'>
						{{notes[note3]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note3}}'>{{notes[note3]}}</span>
					</div>
					<div id=''class='col-md-6'style='height:100%;;text-align:center;'>
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note4}}'>
						{{notes[note4]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note4}}'>{{notes[note4]}}</span>
					</div>
				</div>
				<div id=''class='col-md-3'style='height:100%;;'>
					<div id=''class='col-md-6'style='height:100%;;text-align:center;'>
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note5}}'>
						{{notes[note5]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note5}}'>{{notes[note5]}}</span>
					</div>
					<div id=''class='col-md-6'style='height:100%;;text-align:right;'>
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note6}}'>
						{{notes[note6]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note6}}'>{{notes[note6]}}</span>
					</div>

				</div>
				<div id=''class='col-md-3'style='height:100%;;'>
					<div id=''class='col-md-6'style='height:100%;;text-align:center;'>
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note7}}'>
						{{notes[note7]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note7}}'>{{notes[note7]}}</span>
					</div>
					<div id=''class='col-md-6'style='height:100%;;text-align:center;'>
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note8}}'>
						{{notes[note8]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note8}}'>{{notes[note8]}}</span>					</div>

				</div>
				<div id=''class='col-md-3'style='height:100%;;padding:0;'>
					<div id=''class='col-md-1'style=';height:100%;'>
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note9}}'>
						{{notes[note9]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note9}}'>{{notes[note9]}}</span>
					</div>
					<div id=''class='col-md-1 col-md-offset-4'style=';height:100%;'>
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note10}}'>
						{{notes[note10]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note10}}'>{{notes[note10]}}</span>

					</div>
					<div id=''class='col-md-1 col-md-offset-1'style=';height:100%;text-align:right;float:right;'>
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note11}}'>
						{{notes[note11]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note11}}'>{{notes[note11]}}</span>

					</div>

				</div>
				


			</div>
			<div id=''class='col-md-1'style='height:100%;;'>
			<div id=''class='col-md-7 col-md-offset-3'style='height:100%;;'>
					
			
					
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note0}}'>
				{{notes[note0]}}

			</span>
				 	<span ng-if='noteSwitch == 'color-Note scale='{{scale}}'colors='{{colors}}'note='{{note0}}'>{{notes[note0]}}</span>
				</div>

				</div>
				<div id=''class='col-md-2'style='height:100%;;'>
					<div id=''class='col-md-1'style='height:100%;;'>
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note1}}'>
						{{notes[note1]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note1}}'>{{notes[note1]}}</span>
				</div>
				<div id=''class='col-md-1 col-md-offset-2'style='height:100%;;'>

				
				
				
				<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note2}}'>
					{{notes[note2]}}

				</span>
				<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note2}}'>{{notes[note2]}}</span>				</div>
				<div id=''class='col-md-1 col-md-offset-2'style='height:100%;;'>
				
				
				
				<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note3}}'>
					{{notes[note3]}}

				</span>
				<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note3}}'>{{notes[note3]}}</span>
				</div>

				</div>

	</div>
	<div id='fifteenToBridge'class='col-md-3'style=';height:100%;padding:0;'>

			<div id=''class='col-md-4'style='height:100%;;;padding:0;'>
				<div id=''class='col-md-1'style='height:100%;;;'>
				
				
				
				
				<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note4}}'>
					{{notes[note4]}}

				</span>
				<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note4}}'>{{notes[note4]}}</span>
				</div>
				<div id=''class='col-md-1 col-md-offset-2'style='height:100%;;;'>
				
				
				
				
				<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note5}}'>
					{{notes[note{{5]}}

				</span>
				<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note5}}'>{{notes[note5]}}</span>
				</div>
				<div id=''class='col-md-1 col-md-offset-2'style='height:100%;;;'>
				
				
				
				
				<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note6}}'>
					{{notes[note6]}}

				</span>
				<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note6}}'>{{notes[note6]}}</span>
				</div>

				</div>

			<div id=''class='col-md-8'style='height:100%;;;padding:0;'>
				<div id=''class='col-md-1 col-md-offset-1'style='height:100%;;;'>
				
				
				
				
				<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note7}}'>
					{{notes[note7]}}

				</span>
				<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note7}}'>{{notes[note7]}}</span>
				</div>
				<div id=''class='col-md-1 col-md-offset-1'style='height:100%;;;'>
				
				
				
				
				<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note8}}'>
					{{notes[note8]}}

				</span>
				<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note8}}'>{{notes[note8]}}</span>
				</div>
				<div id=''class='col-md-5'style='height:100%;;;padding:0;'>
					<div id=''class='col-md-1 col-md-offset-1'style='height:100%;;;'>
					
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note9}}'>
						{{notes[note9]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note9}}'>{{notes[note9]}}</span>
					</div>
					<div id=''class='col-md-1 col-md-offset-1'style='height:100%;;;'>
					
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note10}}'>
						{{notes[note10]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note10}}'>{{notes[note10]}}</span>

					</div>
					<div id=''class='col-md-1'style='height:100%;;text-align:right;'>
					
					
					
					
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note11}}'>
						{{notes[note11]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note11}}'>{{notes[note11]}}</span>

					</div>

				</div>
				<div id=''class='col-md-1'style=';height:100%;text-align:right;'>
				
				
				
				
				<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note0}}'>
					{{notes[note0]}}

				</span>
				<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note0}}'>{{notes[note0]}}</span>				</div>
			</div>

			
	</div>
















</div>