<div id=''class='col-md-12'style='border:1px solid black;'ng-init='fretRatio = 1;'>

			<div id=''class='col-md-8 col-md-offset-2'style='border:1px solid black;height:50vh;background:url(http://159.203.107.182:3000/img/guitar/Desktop/vectorGuitar.png) no-repeat;background-size:contain;position:relative;'>

				<div id=''class=''style='border:1px solid black;height:13vh;position:relative;top:18vh;left:14.4vw;width:60.5%;padding:0;'>
					<div id=''class='col-md-12'style='height:100%;border:1px solid black;width:{{fretLength[0]}}%;padding:0;'>
							<div ng-if='fretRatio == 1 || showAll == true'id=''class=''style='border-right:3px solid black;height:100%;width:50%;'>
								
							
							</div>
							<div ng-if='fretRatio == 2 || showAll == true'id=''class=''style='height:100%;position:relative;bottom:100%;'>
								<div id=''class='col-md-6'style='border-right:3px solid black;height:100%;width:33.3%;'>
							
							
								</div>
								<div id=''class='col-md-6'style='border-right:3px solid black;height:100%;width:33.3%;'>
							
							
								</div>
							</div>
							<div ng-if='fretRatio == 3 || showAll == true'id=''class=''style='height:100%;position:relative;bottom:200%;'>
								<div id=''class='col-md-4'style='height:100%;border-right:3px solid black;width:25%;'>
								
								
								</div>
								<div id=''class='col-md-4'style='height:100%;border-right:3px solid black;width:25%;'>
								
								
								</div>
								<div id=''class='col-md-4'style='height:100%;border-right:3px solid black;width:25%;'>
								
								
								</div>
							
							</div>
					</div>
				
				
				</div>
			
			
			</div>







</div>