<div id=''class='col-xs-1 ptSans'style='position:relative;right:4vh;border:1px none;height:338vh;padding:0;font-size:1.3em;font-weight:bold;'>
	
	<div id='root'class='col-xs-1'style='position:relative;top:1vh;;height:5vh;border:1px none;'>
	<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note0}}'>
				{{notes[note0]}}

			</span>
			<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note0}}'>{{notes[note0]}}</span>

	</div>
	<div id='fret1'class='col-xs-1'style='position:relative;top:18vh;height:5vh;border:1px none;'>

			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note1}}'>
				{{notes[note1]}}

			</span>
			<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note1}}'>{{notes[note1]}}</span>
	</div>
	
	<div id='fret2'class='col-xs-12'style='position:relative;top:40vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note2}}'>
				{{notes[note2]}}

			</span>
			<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note2}}'>
			{{notes[note2]}}
			</span>
	</div>
	
	<div id='fret3'class='col-xs-12'style='position:relative;top:60vh;height:5vh;border:1px none;'>
	
					<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note3}}'>
						{{notes[note3]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note3}}'>{{notes[note3]}}</span>
	</div>
	
	<div id='fret4'class='col-xs-12'style='position:relative;top:79vh;height:5vh;border:1px none;'>
		<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note4}}'>
						{{notes[note4]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note4}}'>{{notes[note4]}}</span>
	
	</div>
	
	<div id='fret5'class='col-xs-12'style='position:relative;top:95vh;height:5vh;border:1px none;'>
	
		<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note5}}'>
						{{notes[note5]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note5}}'>{{notes[note5]}}</span>
	</div>
	
	<div id='fret6'class='col-xs-12'style='position:relative;top:110vh;height:5vh;border:1px none;'>
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note6}}'>
						{{notes[note6]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note6}}'>{{notes[note6]}}</span>
		
	</div>
	 
	<div id=''class='col-xs-12'style='position:relative;top:125vh;height:5vh;border:1px none;'>
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note7}}'>
						{{notes[note7]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note7}}'>{{notes[note7]}}</span>
	
	</div>
	
	<div id=''class='col-xs-12'style='position:relative;top:137vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note8}}'>
						{{notes[note8]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note8}}'>{{notes[note8]}}</span>
	</div>
	
	<div id=''class='col-xs-12'style='position:relative;top:148vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note9}}'>
						{{notes[note9]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note9}}'>{{notes[note9]}}</span>
	</div>
	
	<div id=''class='col-xs-12'style='position:relative;top:160vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note10}}'>
						{{notes[note10]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note10}}'>{{notes[note10]}}</span>
	</div>
	
	<div id=''class='col-xs-12'style='position:relative;top:171vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note11}}'>
						{{notes[note11]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note11}}'>{{notes[note11]}}</span>
	</div>
	 
	<div id=''class='col-xs-12'style='position:relative;top:180vh;height:5vh;border:1px none;'>
		
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note0}}'>
						{{notes[note0]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note0}}'>{{notes[note0]}}</span>
	</div>
	
	<div id=''class='col-xs-12'style='position:relative;top:189vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note1}}'>
						{{notes[note1]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note1}}'>{{notes[note1]}}</span>
	</div>
	
	<div id=''class='col-xs-12'style='position:relative;top:198vh;height:5vh;border:1px none;'>
	
		<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note2}}'>
						{{notes[note2]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note2}}'>{{notes[note2]}}</span>
	</div>
	<div id=''class='col-xs-12'style='position:relative;top:205vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note3}}'>
						{{notes[note3]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note3}}'>{{notes[note3]}}</span>
	</div>
	
	<div id=''class='col-xs-12'style='position:relative;top:213vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note4}}'>
						{{notes[note4]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note4}}'>{{notes[note4]}}</span>
	</div>
	<div id=''class='col-xs-12'style='position:relative;top:220vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note5}}'>
						{{notes[note5]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note5}}'>{{notes[note5]}}</span>
	</div>
	<div id=''class='col-xs-12'style='position:relative;top:228vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note6}}'>
						{{notes[note6]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note6}}'>{{notes[note6]}}</span>
	</div>
	<div id=''class='col-xs-12'style='position:relative;top:236vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note7}}'>
						{{notes[note7]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note7}}'>{{notes[note7]}}</span>
	</div>
	<div id=''class='col-xs-12'style='position:relative;top:242vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note8}}'>
						{{notes[note8]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note8}}'>{{notes[note8]}}</span>
	</div>
	<div id=''class='col-xs-12'style='position:relative;top:248vh;height:5vh;border:1px none;'>

			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note9}}'>
						{{notes[note9]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note9}}'>{{notes[note9]}}</span>
	</div>
	<div id=''class='col-xs-12'style='position:relative;top:252vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note10}}'>
						{{notes[note10]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note10}}'>{{notes[note10]}}</span>
	</div>
	<div id=''class='col-xs-12'style='position:relative;top:255vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note11}}'>
						{{notes[note11]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note11}}'>{{notes[note11]}}</span>
	</div>
	<div id=''class='col-xs-12'style='position:relative;top:260vh;height:5vh;border:1px none;'>
	
			<span ng-if='noteSwitch == false' chord-Color color='{{chcolor}}'chord='{{chord}}'note='{{note0}}'>
						{{notes[note0]}}

					</span>
					<span ng-if='noteSwitch == true' color-Note scale='{{scale}}'colors='{{colors}}'note='{{note0}}'>{{notes[note0]}}</span>
	</div>
</div>